configuration {
    font: "Iosevka Term Nerd Font 12";

    monitor: "-4";

    combi-modi: "window,run";
    modi: "combi";

    matching: "fuzzy";

    kb-move-word-back: "Control+b";
    kb-move-word-forward: "Control+f";
    kb-move-char-back: "Left";
    kb-move-char-forward: "Right";

    theme: "fzf";
}
/* vim:ft=css
